/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #4c99fd;
  --color-success-500: #24a148;
  --color-success-200: #92d0a4;
  --color-error-200: #ed8f94;
  --color-error-500: #da1e28;
  --color-border: var(--primary);
  --color-white: #fff;
  --color-black: #000;

  --section-gap: 160px;

  --z-index-1000: 1000;
}

/* semantic color variables for this project */
:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #141b26;
    --color-background-secondary: #182333;
    --color-text: #fff;
    --color-text-muted: #8c97a7;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background-secondary: #e0e2e5;
    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-text-muted: #42526e;
  }
}

.rounded {
  border-radius: 0.25rem;
}

.rounded--wild {
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadow--wild {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
